<nz-layout class="app-layout">
  <app-register-page *ngIf="isRegisterPageRoute()"></app-register-page>
  <app-login-page *ngIf="isLoginPageRoute()"></app-login-page>
  <nz-header *ngIf="isRegisterPageRoute() === false && isLoginPageRoute() === false">
    <app-navigation-toolbar
      [projects$]="projects$"
      [currentUser]="currentUser$ | async"
    ></app-navigation-toolbar>
  </nz-header>

  <nz-layout *ngIf="isRegisterPageRoute() === false && isLoginPageRoute() === false">
    <nz-sider
      class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="xl"
      nzTheme="light"
      [(nzCollapsed)]="isSidebarCollapsed"
      (nzCollapsedChange)="onSidebarCollapsed($event)"
    >
      <app-navigation-sidebar></app-navigation-sidebar>
    </nz-sider>
    <nz-layout>
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
      <nz-footer>
        Projeto de ES4A4 por Leticia Kobayashi e Renata Novais</nz-footer
      >
    </nz-layout>
  </nz-layout>
</nz-layout>

<app-svg-definitions></app-svg-definitions>
