.issue-priority {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
  color: #604A6F;
}

.priority-content {
  display: flex;
  align-items: center;

  app-svg-icon {
    margin-right: 0.5rem;
  }
}
