<body>
  <section class="container">
    <div class="login">
      <img src="../../../favicon.ico" class="logo" />
      <div class="empresa">
        <h1>ProPlan</h1>
      </div>
      <div class="cadastro">
        <p>Preencha os dados</p>
      </div>
      <form>
        <div class="email-usuario">
          <input
            type="text"
            name="usuario"
            class="usuario"
            placeholder="Email"
            #emailInput
          />
        </div>
        <div class="login-usuario">
          <input
            type="text"
            name="usuario"
            class="usuario"
            placeholder="Nome"
            #nomeInput
          />
        </div>
        <div class="senha-usuario">
          <input
            type="password"
            name="senha"
            class="senha"
            placeholder="Senha"
            #senhaInput
          />
        </div>
      </form>
      <button type="submit" class="entrar" #cadastrarButton>Cadastrar</button>
    </div>
  </section>
</body>
