<nz-page-header class="site-page-header" nzTitle="Painel de Projetos">
  <nz-breadcrumb
    nz-page-header-breadcrumb
    *ngIf="currentProject$ | async as project"
  >
    <nz-breadcrumb-item
      ><a routerLink="/projects/all">Projetos</a></nz-breadcrumb-item
    >
    <nz-breadcrumb-item>
      <a routerLink="/board">{{ project.name }}</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item> Projeto - {{ project.key | uppercase }} </nz-breadcrumb-item>
  </nz-breadcrumb>

  <nz-page-header-extra>
  </nz-page-header-extra>
</nz-page-header>
